
//Font import
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

//Color variables 
$app-background-color: #0C0F14;
$orange-color: #D98046;
$formcode: #83868D;

//Main rules
body {
    background-color: $app-background-color;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: calc(15px + 0.39vw);
  }


.glow-effect {
    width: 23.4rem;
    height: 23.4rem;
    background-color: rgba(217, 128, 70, 0.25);
    border-radius: 33.33rem;
    filter: blur(128px);
    z-index: -1;
    margin-left: -40%;
    position: fixed;
    top: 30%;
}
  

.topbar {
    width: 84.27%;
    max-width: 800px;
    position: relative;
    margin: 2.93rem auto 2.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .hamburger {
        background-color: transparent;
        border: none;
        img {
            height: 2.8rem; 
        }
    }

    .avatar {
        background-color: transparent;
        border: none;
        img {
            height: 2.8rem;
        }
    }
}

.top-elements-container {
    position: relative;
    margin: 0 auto;
    width: 81.33%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.93rem;

    .header {
        align-self: flex-start;
        font-size: 2rem;
        color: #ffffff;
        font-weight: 400;

        span {
            color: $orange-color;
            font-weight: 500;
        }
    }

    .search-container {
        width: 100%;
        height: 3.33rem;
        border-radius: 1.06rem;
        padding: 0.86rem 1.13rem;
        background-color: rgba(255, 255, 255, 0.075); 
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08); 
        display: flex;
        gap: 1rem;
        align-items: center;

        input {
            flex: 1; 
            height: 100%; 
            border: none;
            outline: none;
            background: transparent;
            font-size: 0.86rem; 
            color: $formcode;
        }

        img {opacity: 50%;}

        .visually-hidden {
            position: absolute;
            overflow: hidden;
            clip: rect(0 0 0 0);
            width: 1px;
            height: 1px;
            margin: -1px;
            padding: 0;
            border: 0;
          }
      }
}

.error {
    margin: 2rem;
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
}
.loading {
    margin: 2rem;
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
}

.card-container {
    width: 81.33%;
    position: relative;
    margin: 1.93rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.33rem;

    .card {
        width: 100%;
        height: 16.6rem; //Setting height to avoid different card heights 
        display: flex;  
        flex-direction: column;
        position: relative;
        border-radius: 23px;
        padding: 0.6rem 0.6rem 0.73rem 0.6rem;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.03) 100%);

        .rating-container {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(196, 196, 196, 0.08);
            -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
            border-radius: 0px 15px;
            position: absolute;
            align-self: flex-end;
            width: 2.8rem;
            height: 1.33rem;
            gap: 0.2rem;

            .rating-img {
                height: 0.66rem;
                width: 0.66rem;
            }


            .rating-score {
                text-align: center;
                font-size: 0.7rem;
                font-weight: 400;
                color: #ffffff;
            }
        }

        .product-img {
            width: 100%;
            border-radius: 1rem;
        }
           
            .name-container {
                display: flex;
                width: 90%;
                align-self: flex-start;
                flex-direction: column;
                margin-top: 0.8rem;
    
                .drink-name {
                    color: #ffffff;
                    font-weight: 400;
                    font-size: 0.8rem;
                    line-height: 1rem;
                    
                }
    
                .drink-formcode {
                    color: $formcode;
                    font-weight: 400;
                    font-size: 0.76rem;
                }
    
            }
    
            .price-container {
                display: flex;
                justify-content: space-between;
                position: absolute;
                width: 90%;
                bottom: 0;
                align-items: center;
                padding: 0.8rem 0.5rem 0.8rem 0;
    
                .currency-sign {
                    color: $orange-color;
                    margin-right: 0.3rem;
                }
    
                .price {
                    font-size: 1.2rem;
                    color: #FEFBF9;
                }
    
                .add-btn {
                    width: 2.26rem;
                    height: 2.06rem;
                    background-color: $orange-color;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    border-radius: 0.73rem;
                    color: #ffffff;
                    font-size: 1.2rem;

                    &:active {
                        background-color: #874f29;
                    }
                }
            }
        }     
}

.menubar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.93rem;
    width: 100%;
    background-color: rgba(14, 17, 22, 0.96);
    position: fixed;
    bottom: 0;
    z-index: 1;

    footer {
        width: 75%;
        display: flex;
        justify-content: space-between;

        button {
            height: 1.6rem;
            background-color: transparent;
            border: none;
        }

    }
}



